@media (max-width: 767px) {
    .back-btn {
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    .back-btn {
        visibility: visible;
    }
}

@media (min-widht: 600px) and (max-widht: 989px){
    .left-column{
        min-width: 400px;
    }
    .right-column{
        min-width: 400px;
    }
}

@media (min-widht: 990px) and (max-widht: 1420px){
    .left-column{
        min-width: 300px;
    }
    .right-column{
        min-width: 300px;
    }
}

@media (min-widht: 1421px) {
    .profile__container{
        .left-column{
            width: 500px;
        }
        .right-column{
            width: 700px;
        }
    }
    }

.right-column{
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 32px;
}

.profile-wrapper {
    margin: 0 auto;
    padding: 70px 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}

.profile__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
}

@media (min-width: 992px) {
    .profile__container {
        flex-direction: row;
        align-items: flex-start;
        column-gap: 60px;
    }
}

@media (min-width: 1400px) {
    .profile__container {
        .left-column {
            width: 400px; 
        }
        .right-column {
            width: 600px; 
        }
    }
}

@media (min-width: 1700px) {
    .profile__container {
        .left-column {
            width: 500px; 
        }
        .right-column {
            width: 700px; 
        }
    }
}

@media (min-width: 1900px) {
    .profile__container {
        .left-column {
            width: 600px; 
        }
        .right-column {
            width: 800px; 
        }
    }
}

.back-btn {
    background: none;
    border: none;
    border-radius: 20px;
    color: #ccc;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 6px;
    flex: 1;
    max-width: 200px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.back-btn:hover {
    color: white;
}

.left-column {
    flex: 1;
    margin-right: 20px;
}

.right-column {
    flex: 1;
}

@media (min-width: 600px) and (max-width: 989px) {
    .left-column {
        min-width: 400px;
    }
    .right-column {
        min-width: 400px;
    }
}